/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* Variable */
:root {
  --p-soft-blue: hsl(215, 51%, 70%);
  --p-cyan: hsl(178, 100%, 50%);
  --n-drk-blue-main-bg: hsl(217, 54%, 11%);
  --n-drk-blue-card-bg: hsl(216, 50%, 16%);
  --n-drk-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  background: var(--n-drk-blue-main-bg);
  padding: 1.25rem;
}

.container {
  padding: 1.5rem;
  background-color: var(--n-drk-blue-card-bg);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.container .main-image {
  position: relative;
}

.container .main-image img {
  border-radius: 2%;
}

.container .main-image div {
  position: absolute;
  background-color: hsl(178, 100%, 50%, 60%);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container .main-image div:hover {
  opacity: 1;
  cursor: pointer;
}

.container .main-image div img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container h2 {
  color: var(--white);
  margin: 1rem 0.5rem 0.5rem 0;
}

.container h2:hover {
  color: var(--p-cyan);
  cursor: pointer;
}

.container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid var(--n-drk-blue-line);
}

.container ul li:first-child {
  color: var(--p-cyan);
}

.container ul li img {
  margin-right: 0.3rem;
}

.container ul li:last-child {
  color: var(--p-soft-blue);
}

.container p {
  color: var(--p-soft-blue);
}

.container .avatar {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.container .avatar img {
  width: 3rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 1.5rem;
}

.container .avatar span {
  color: var(--white);
}

.container .avatar span:hover {
  color: var(--p-cyan);
  cursor: pointer;
}

@media(min-width: 500px) {
  .container {
    width: 450px;
    margin: 4rem auto 0rem;
  }
}